#container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px; 
    margin: auto;
    max-width: 50%;
}

.back-button {
    background-color: skyblue;
    border-radius: 4px;
    border: none;
    margin: 1px;
    float: right;
}

.submit-button {
    background-color: lightgreen;
    border-radius: 4px;
    border: none;
    margin: 1px;
    float: right;
}

.left-column {
    float: left;
    width: 25%;
    margin-top: 22px;
    font-size: 150%;
}

.right-column {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-field {
    width: 50%;
}

.number-button {
    margin: 10px;
}