.submit-button {
    background-color: lightgreen;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

.back-button {
    background-color: skyblue;
    border-radius: 4px;
    border: none;
    margin: 1px;
}
