.container-m {
    padding: 25px; 
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .container-d {
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 25px; 
        margin: auto;
        max-width: 50%;
    }
}

#name-field {
    width: 100%;
}

#duration-field {
    flex: 1;
}

#active-field {
    margin-right: 10px;
}

#back-button {
    background-color: skyblue;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

#submit-button {
    background-color: lightgreen;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

#bottom {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.row h3 {
    margin-bottom: 0px;
    width: 15%;
}

.save-row {
    display: flex;
    flex-flow: row wrap;
}

.dropdown {
    margin-left: 10px;
}

.input {
    flex: 1;
}

.numeric-field {
    flex: 1;
    display: flex;
    flex-flow: nowrap;
}

.numeric-field .mat-input-element {
    text-align: center;
}