#container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 25px; 
    margin: auto;
    max-width: 50%;
}

.round-button {
    background-color: skyblue;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

.add-button {
    background-color: lightgreen;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

.remove-button {
    background-color: lightcoral;
    border-radius: 4px;
    border: none;
    margin: 1px;
}

.toggle-button {
    background-color: lightseagreen;
    border-radius: 4px;
    border: none;
    margin: 1px;
}
